.currency-card {
  display: flex;
  justify-content: space-around;

  width: 80%;
  color: black;

  .currency-value {
    display: flex;
    .currency-value-to-base {
      font-size: 2rem;
      font-weight: 200;
      text-align: left;
      font-weight: 500;
    }
    .currency-symbol {
      font-size: 2rem;
      padding-right: 1rem;
      text-align: center;
      font-weight: 300;
    }
  }
  .currency-summary {
    padding-top: 0.5rem;
  }
}

@media (max-width: 968px) {
  .currency-card {
    .currency-summary {
      display: none;
    }
    .currency-value-to-base {
      font-size: 1rem !important;
      font-weight: 200 !important;
      text-align: left !important;
      font-weight: 400 !important;
    }
    .currency-symbol {
      font-size: 1rem !important;
      padding-right: 0.5rem !important;
      padding-left: 0.5rem !important;
      text-align: center !important;
      font-weight: 300 !important;
    }
  }
}
